body {
    background: #fff;
    color: #333;
}

/*.container {
    width: 90%;
    max-width: 960px;
    margin: 0 auto;
    border-radius: 20px;
    box-shadow: 2px 4px 6px rgba(28, 6, 49, 0.1);
    background: white;
}*/

.error {
    color: #ff3f80;
}

button {
    text-decoration: none;
    background: #5ae4ca;
    color: white;
    font-weight: bold;
    border: 0;
    border-radius: 20px;
    padding: 10px 20px;
}


#template {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#header {
    background: #152536;
    margin-bottom: 30px;
    padding: 20px 0;
}

#footer {
    text-align: center;
    background: #e9ecef;
    margin-top: 30px;
    padding: 20px 0 0;
}

#footer img {
    height: 80px;
}

#logo {
    display: inline-block;
    text-decoration: none;
}

.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}

.content-small {
    max-width: 720px;
}